{% extends 'base.html' %} {% load static %} {% block content %}

<!--Page Title-->
<section class="page-title-two bg-color-1 centred">
  <div class="pattern-layer">
    <div
      class="pattern-1"
      style="background-image: url('/static/images/shape/shape-9.png')"
    ></div>
    <div
      class="pattern-2"
      style="background-image: url('/static/images/shape/shape-10.png')"
    ></div>
  </div>
  <div class="auto-container">
    <div class="content-box clearfix">
      <h1>Forgot Password</h1>
      <ul class="bread-crumb clearfix">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Forgot</li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- ragister-section -->
<section class="ragister-section centred sec-pad">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-xl-8 col-lg-12 col-md-12 offset-xl-2 big-column">
        <div class="sec-title">
          <h5>Forgot Password</h5>
          <h2>Recover password with Renvest</h2>
        </div>
        <div class="tabs-box">
          <div class="tabs-content">
            <div class="tab active-tab" id="tab-1">
              <div class="inner-box">
                <h4>Sign in</h4>
                <form method="post" class="default-form">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" name="email" required="" />
                  </div>

                  <div class="form-group message-btn">
                    <button type="submit" class="theme-btn btn-one">
                      Sign in
                    </button>
                  </div>
                </form>
                <div class="othre-text">
                  <p>
                    Have not any account?
                    <a href="{% url 'sign-up' %}">Register Now</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ragister-section end -->

{% endblock content %}
