{% extends 'base.html' %} {% load static %} {% block content %}

<!--Page Title-->
<section class="page-title-two bg-color-1 centred">
  <div class="pattern-layer">
    <div
      class="pattern-1"
      style="background-image: url(/static/images/shape/shape-9.png)"
    ></div>
    <div
      class="pattern-2"
      style="background-image: url(/static/images/shape/shape-10.png)"
    ></div>
  </div>
  <div class="auto-container">
    <div class="content-box clearfix">
      <h1>My Profile</h1>
      <ul class="bread-crumb clearfix">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>My Profile</li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- myprofile-section -->
<section class="myprofile-section sec-pad">
  <div class="auto-container">
    <div class="title">
      <h3>Submit Property</h3>
    </div>
    <div class="tabs-box">
      <ul class="tab-btns tab-buttons clearfix">
        <li class="tab-btn active-btn" data-tab="#tab-1">
          <span>1</span>General Information
        </li>
        {% comment %} <li class="tab-btn" data-tab="#tab-2"><span>2</span>Gallery</li>
        <li class="tab-btn" data-tab="#tab-3">
          <span>3</span>Property Details
        </li>
        <li class="tab-btn" data-tab="#tab-4"><span>4</span>Location</li>
        <li class="tab-btn" data-tab="#tab-5"><span>5</span>Floor Plan</li> {% endcomment %}
      </ul>
      <div class="tabs-content">
        <div class="tab active-tab" id="tab-1">
          <div class="general-information">
            <h4><i class="fa-solid fa-circle-info"></i></i>General Information:</h4>
            <div class="inner-box default-form">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Property Title</label>
                    <input
                      type="text"
                      name="title"
                      placeholder="Property Name"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Address</label>
                    <input
                      type="text"
                      name="address"
                      placeholder="Property Address"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>State</label>
                    <input
                      type="text"
                      name="state"
                      placeholder="Ex. Madhya Pradesh"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>City</label>
                    <input
                      type="text"
                      name="city"
                      placeholder="Ex. Indore`"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Pin Code</label>
                    <input
                      type="text"
                      name="pincode"
                      placeholder="Ex. 452010`"
                    />
                  </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Property Type</label>
                    <div class="select-box">
                      <select class="wide" name="property_type">
                        <option data-display="Property Type">
                          Property Type
                        </option>
                        <option value="Commersial">Commersial</option>
                        <option value="Tourist">Tourist</option>
                        <option value="Contemporary">Contemporary</option>
                        <option value="Apartment">Apartment</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Property Status</label>
                    <div class="select-box">
                      <select class="wide" name="property_status">
                        <option data-display="Property Status">
                          Property Status
                        </option>
                        <option value="For Sale">For Sale</option>
                        <option value="For Rent">For Rent</option>
                        <option value="Not Sale">Not Sale</option>
                        <option value="Sold Out">Sold Out</option>
                        <option value="Offer Sale">Offer Sale</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Price</label>
                    <input
                      type="text"
                      name="property_price"
                      placeholder="Ex. 1,00,00,000"
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 column">
                  <div class="field-input">
                    <label>Description</label>
                    <textarea placeholder="Enter your text" name="description"></textarea>
                  </div>
                </div>
                <!-- Add On's -->
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Main Picture <span style="color: red;">*</span> </label>
                    <input
                      type="file"
                      name="main_pic"
                      class="btn btn-sm btn-success"
                    />
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Picture 01 <span style="color: red;">*</span></label>
                    <input
                      type="file"
                      name="pic_02"
                      class="btn btn-sm btn-info"
                    />
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Picture 02 <span style="color: red;">*</span></label>
                    <input
                      type="file"
                      name="pic_03"
                      class="btn btn-sm btn-info"
                    />
                  </div>
                </div>

                <button type="submit" class="theme-btn col-lg-4 col-md-6 btn-one">
                  List Property
                </button>

              </div>
            </form>
            </div>
          </div>
        </div>
        
        <div class="tab" id="tab-3">
          <div class="property-details">
            <h4><i class="fa-solid fa-sign-hanging"></i></i>Property Details:</h4>
            <div class="inner-box default-form">
              <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Property ID</label>
                    <div class="select-box">
                      <select class="wide">
                        <option data-display="Property ID">Property ID</option>
                        <option value="1">ZOP251C</option>
                        <option value="2">ZOP251D</option>
                        <option value="3">ZOP251E</option>
                        <option value="4">ZOP251F</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Building Age</label>
                    <div class="select-box">
                      <select class="wide">
                        <option data-display="Building Age">
                          Building Age
                        </option>
                        <option value="1">2 to 5 Years</option>
                        <option value="2">2 to 6 Years</option>
                        <option value="3">2 to 7 Years</option>
                        <option value="4">2 to 8 Years</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Bedrooms</label>
                    <div class="select-box">
                      <select class="wide">
                        <option data-display="Bedrooms">Bedrooms</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Bathrooms</label>
                    <div class="select-box">
                      <select class="wide">
                        <option data-display="Bathrooms">Bathrooms</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Parking</label>
                    <div class="select-box">
                      <select class="wide">
                        <option data-display="Parking">Parking</option>
                        <option value="1">Parking 02</option>
                        <option value="2">Parking 03</option>
                        <option value="3">Parking 03</option>
                        <option value="4">Parking 04</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Storage Room</label>
                    <div class="select-box">
                      <select class="wide">
                        <option data-display="Storage Room">
                          Storage Room
                        </option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="other-option clearfix">
              <li>
                <div class="radio-box">
                  <input type="checkbox" id="check4" checked="" />
                  <label for="check4">Air Conditioned</label>
                </div>
              </li>
              <li>
                <div class="radio-box">
                  <input type="checkbox" id="check5" />
                  <label for="check5">Swimming Pool</label>
                </div>
              </li>
              <li>
                <div class="radio-box">
                  <input type="checkbox" id="check6" checked="" />
                  <label for="check6">Washer & Dryer</label>
                </div>
              </li>
              <li>
                <div class="radio-box">
                  <input type="checkbox" id="check7" />
                  <label for="check7">Laundry</label>
                </div>
              </li>
              <li>
                <div class="radio-box">
                  <input type="checkbox" id="check8" />
                  <label for="check8">Gym</label>
                </div>
              </li>
              <li>
                <div class="radio-box">
                  <input type="checkbox" id="check9" />
                  <label for="check9">Basketball Court</label>
                </div>
              </li>
              <li>
                <div class="radio-box">
                  <input type="checkbox" id="check10" />
                  <label for="check10">Refrigerator</label>
                </div>
              </li>
            </ul>
            <h6>Property Documents</h6>
            <div class="upload-inner centred">
                <i class="fa-solid fa-cloud-arrow-up"></i>
              <div class="upload-box">
                <input type="file" id="check2" />
                <label for="check2">Click here to upload your image</label>
              </div>
            </div>
            <a href="profile.html" class="theme-btn btn-one">Add Images</a>
          </div>
        </div>
        <div class="tab" id="tab-4">
          <div class="gallery-box">
            <h4><i class="fa-solid fa-map-pin"></i>Location:</h4>
            <div class="inner-box default-form">
              <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Google Maps Address</label>
                    <input
                      type="text"
                      name="map_address"
                      placeholder="Tamplate"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Friendly Address</label>
                    <input
                      type="text"
                      name="friendly_address"
                      placeholder="Template-path"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Longitude</label>
                    <input type="text" placeholder="-205.421560" />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Latitude</label>
                    <input type="text" placeholder="32.963381" />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 column">
                  <div class="field-input">
                    <label>Regions</label>
                    <div class="select-box">
                      <select class="wide">
                        <option data-display="Regions">Regions</option>
                        <option value="1">New York</option>
                        <option value="2">California</option>
                        <option value="2">London</option>
                        <option value="2">Chicago</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="google-map-area">
              <div
                class="google-map"
                id="contact-google-map"
                data-map-lat="40.712776"
                data-map-lng="-74.005974"
                data-icon-path="/static/images/icons/map-marker.png"
                data-map-title="Brooklyn, New York, United Kingdom"
                data-map-zoom="12"
                data-markers='{
                                            "marker-1": [40.712776, -74.005974, "<h4>Branch Office</h4><p>77/99 New York</p>","/static/images/icons/map-marker.png"]
                                        }'
              ></div>
            </div>
          </div>
        </div>
        <div class="tab" id="tab-5">
          <div class="gallery-box">
            <h4><i class="fa-solid fa-ruler-combined"></i>Floor Plan:</h4>
            <div class="inner-box default-form">
              <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Select Floor</label>
                    <div class="select-box">
                      <select class="wide">
                        <option data-display="Select Floor">
                          Select Floor
                        </option>
                        <option value="1">First Floor</option>
                        <option value="2">Second Floor</option>
                        <option value="2">Third Floor</option>
                        <option value="2">Four Floor</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Floor Plan Title</label>
                    <input
                      type="text"
                      name="flor_plan"
                      placeholder="Floor Plan Title"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Size In Sq Ft</label>
                    <input type="text" placeholder="2412 Sq Ft" />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 column">
                  <div class="field-input">
                    <label>Size Of Rooms In Sq Ft</label>
                    <input type="text" placeholder="150 Sq Ft" />
                  </div>
                </div>
              </div>
            </div>
            <div class="upload-inner centred">
              <i class="fal fa-cloud-upload"></i>
              <div class="upload-box">
                <input type="file" id="check3" />
                <label for="check3">Click here to upload your image</label>
              </div>
            </div>
            <a href="profile.html" class="theme-btn btn-one">Add Images</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- myprofile-section end -->

{% endblock content %}
